<div class="row mt-3">
    <div class="col p-0">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Kategori: <span class="text-danger"> Tümü </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li *ngFor="let category of categories"><a class="dropdown-item " href="#">{{category.name}}</a></li>
                  <li><a class="dropdown-item" href="#">Programlama ({{categories.length}})</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Eğitmen: <span class="text-danger">Tümü</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li *ngFor="let instructor of instructors"><a class="dropdown-item" href="#">{{instructor.firstName}} {{instructor.lastName}}</a></li>
                    <li><a class="dropdown-item" href="#">Eğitmen ({{instructors.length}})</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>