<div class="row mt-2">
    <div *ngFor="let course of courses" class="col-md-4">
        <div class="card" style="width: 24rem;">
            <img class="card-img-top"
                src={{course.imagePath}}
                alt="Card image cap">
            <div class="card-body">
                <a class="alert-link mt-3 text-decoration-none text-dark" href="#">{{course.title}}</a>
      
                <div class="card-text">
                  {{course.description}}
                </div>
      
                <div class="d-flex mt-3">
                    <div class="col-md-6">
                        <img src={{course.instructorImg}}
                            alt="">
                        {{course.instructor}}
                    </div>
                    <div class="col-md-6">
                        {{course.completeRate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>